// UTILS
@import "utils/variables";
@import "utils/mixins";

//  BASE
@import "base/reset";
@import "base/typography";
@import "base/colors"; 
@import "base/base";
@import "base/grid";

// COMPONENTS
@import "components/button";


// LAYOUT 
@import "layout/content";
@import "layout/header";
@import "layout/header-2";
@import "layout/header-3";
@import "layout/footer";
@import "layout/breadcrumb";
@import "layout/select";
@import "layout/table";
@import "layout/footer-2";

// PAGES
@import "pages/home";
@import "pages/home-2";
@import "pages/home-3";
@import "pages/login";
@import "pages/common";
@import "pages/faq";
@import "pages/pricing";
@import "pages/gallery";
@import "pages/our-team";
@import "pages/contact";
@import "pages/invoice";
@import "pages/blog";
@import "pages/testiminial";
@import "pages/about-us";
@import "pages/detail-page";
@import "pages/products";
@import "pages/users";
@import "pages/booking";
@import "pages/booking-calendar";