h6.footer-tital {
   color: rgb(36, 35, 35);
    text-align: center;
}
 .register {
   color: rgb(44, 44, 44);
    font-size: 17px;
    font-weight: 600;
}
/* .logo-img{
    width: 180px;
            margin-bottom: 10px;
} */
@media only screen and (max-width: 600px) {
  .logo-img{
    width: 120px;
        display: flex;
    justify-self: center;
}
}


