
.contact-section {
  position: relative;
  z-index: 1;
  padding: 50px 0;
  overflow: hidden;
}

.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('/assets/img/bg/contact-bg3.avif') center/cover no-repeat;
  z-index: -1;
}
.section-title {
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.section-title p {
  font-size: 16px;
  color: #eee;
}

.contect-form{
    box-shadow: 0px 4px 24px rgba(225, 225, 225, 0.25);
    border-radius: 15px;
}
.contact-section .contact-info-area .single-contact-info {
    text-align: left;
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    padding: 20px 0px;
    transition: all 0.5s;
}
.icon-data{
    margin-right: 10px;
}
.form-sec{
    background: white;
    padding: 6% 5%;
    margin: 15px 0px;
    border-radius: 15px;
}

@media only screen and (max-width: 992px) {
.b2b-banner{
    display: none;
}
}
@media only screen and (max-width: 767px) {
.contact-section {
  padding: 30px 0;
}
.section-title{
    margin-bottom: 20px;
}
.section-title p {
    font-size: 14px;
}
.section-title h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
}

/* ----------------------  registra sec --------------------------- */
.center-form {
    margin-left: auto;
    margin-right: auto;
}
.registr-sec {
    box-shadow: 0 2px 24px 0 rgba(252, 39, 121, 0.3);
    border-radius: 8px;
    padding: 8px;
    margin: 15px 0px;
    background: white;
}
.foboxset {
    border-radius: 6px;
    margin-bottom: 10px;
}
.form-height {
    color: rgb(32, 33, 36);
    padding: 10px 25px;
    overflow: auto;
    height: 500px;
}
.con-box {
    padding-bottom: 16px;
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    padding-top: 22px;
    position: relative;
}
.form-head {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.form-head-text {
    box-sizing: border-box;
    font-weight: 400;
    color: rgb(32, 33, 36);
    font-size: 19pt;
    font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}
.form-info{
    line-height: 22px;
    letter-spacing: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(32, 33, 36);
    margin-top: 12px;
    white-space: pre-wrap;
}
.full-w-border {
    border-top: 1px solid rgb(218, 220, 224);
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: 10px;
}
.mail-sec {
    color: rgb(95, 99, 104);
}
.mail-con:not(:empty) {
    margin-top: 25px;
}
.mail-con {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.mail-con a {
    color: rgb(26, 115, 232);
    text-decoration: none;
    white-space: nowrap;
    margin-left: 5px;
}
.card-w {
    width: 100%;
}
.mail-textbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    overflow-wrap: break-word;
    width: 75%;
}
.mail-text {
    font-weight: 600;
}

.mail-sec-icon {
    direction: ltr;
    text-align: left;
    height: 24px;
    width: 24px;
    position: relative;
}
.worni-text {
    color: rgb(217, 48, 37);
    margin-top: 25px;
    font-size: 15px;
}
/* add gmail */
.box-text-head {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.email-sec {
    margin-bottom: 15px;
}
.box-head-text {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .2px;
    line-height: 24px;
    color: rgb(32, 33, 36);
    font-weight: 400;
}
.box-head-mtr {
    color: rgb(217, 48, 37);
    padding-left: .25em;
}
.chebox-ali{
        align-self: center;
}
.record-mail-sec {
   font-size: 14px;
   line-height: 18px;
}
.box-head-text2 {
    font-size: 14px;
    letter-spacing: 0;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    line-height: 20px;
}
/* input sect */
.box-input-sec {
    height: 40px;
}
.box-input-body {
    position: relative;
    top: 14px;
}
.box-input {
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    letter-spacing: .2px;
    line-height: 20px;
    color: rgb(32, 33, 36);
    display: block;
    font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    height: 24px;
    line-height: 24px;
    margin: 0;
    min-width: 0%;
    outline: none;
    padding: 0;
}
.input-text {
    color: #70757a;
    font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 2px;
    left: 0;
    white-space: nowrap;
}
.box-input-border {
    background-color: rgba(0, 0, 0, .12);
    bottom: -2px;
    height: 1px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 50%;
}
.box-input-border::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -2px;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    pointer-events: none;
}
span.checkmark {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
}
p.textformail {
    color: black;
    font-size: 15px;
    padding-left: 7px;
    width: 100%;
}
.agreement-sec {
    align-items: center;
    margin: 15px 0px;
}
.justy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.btn.btn-outline-light {
    padding: 4px 15px;
    font-weight: 400;
    font-size: 14px;
}
.justy .btn-default {
    font-size: 15px;
    color: blue;
    margin-left: 10px;
}
button.btn.btn-default:hover {
    background: aliceblue;
}