.tital-heading h2 {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #142636;
}
.tital-heading h4 {
    font-size: 25px;
    margin-bottom: 7px;
    color: #2F2F2F;
}
p.ques-bloge {
    font-size: 15px;
    margin-bottom: 3px;
    color: black;
    font-weight: 500;
}
p.Ans-bloge {
    padding-left: 15px;
    font-size: 15px;
}