.form-sec{
    margin: auto;
}
.login-wrapper .loginbox .login-auth {
    background: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.visual-section {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.visual-section img {
    max-height: 550px;
    min-width: 425px;
}
@media screen and (max-width: 767px) {
   .hide-for-mobile{
    display: none !important;
 }

.container{
    padding: 0px;
}

.login-wrapper .loginbox .login-auth {
    margin-top: 30px ;
    margin-bottom: 20px;
}
}