<div class="login-wrapper why-choose">
  <div class="choose-left">
    <img src="assets/img/bg/choose-left.png" class="img-fluid" alt="Why Choose Us">
  </div>
  <div class="container">
    <div class="card-container">
      <div class="form-section">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-7 hide-for-mobile">
            <div class="visual-section ">
              <img src="assets/img/bg/sign-up.webp" class="img-fluid " alt="Access Card" />
            </div>
          </div>
          <div class="col-md-9 col-lg-6 col-xl-5 form-sec">
            <div class="loginbox">
              <div class="login-auth">
                <div class="login-auth-wrap">
                  <h1>Sign Up</h1>
                  <p class="account-subtitle">
                    We'll send a confirmation code to your email.
                  </p>
                  <form [formGroup]="registerForm" (ngSubmit)="signup()">

                    <div class="input-block">
                      <label for="username" class="form-label">User Name <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" placeholder="" formControlName="Username" [ngClass]="{
                       'is-invalid': f['Username'].touched && f['Username'].invalid}" />
                      @if (f['Username'].touched && f['Username'].invalid) {
                      <div class="invalid-feedback">
                        @if (f['Username'].errors && f['Username'].errors['required']) {
                        <div>
                          UserName is Required.
                        </div>
                        }
                      </div>
                      }
                      @if (CustomControler !== 0) {
                      <div class="invalid-feedback">
                        {{ CustomControler }}
                      </div>
                      }
                    </div>

                    <div class="input-block">
                      <label for="username" class="form-label">Mobile No. <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" placeholder="" formControlName="mobileNo" [ngClass]="{
                       'is-invalid': f['Username'].touched && f['Username'].invalid}" />
                      @if (f['Username'].touched && f['Username'].invalid) {
                      <div class="invalid-feedback">
                        @if (f['Username'].errors && f['Username'].errors['required']) {
                        <div>
                          Enter Valid mobile number.
                        </div>
                        }
                      </div>
                      }
                      @if (CustomControler !== 0) {
                      <div class="invalid-feedback">
                        {{ CustomControler }}
                      </div>
                      }
                    </div>

                    <div class="input-block">
                      <label for="username" class="form-label">Email <span class="text-danger">*</span></label>
                      <input class="form-control" type="email" placeholder="" formControlName="Username" [ngClass]="{
                      'is-invalid': f['Username'].touched && f['Username'].invalid}" />
                      @if (f['Username'].touched && f['Username'].invalid) {
                      <div class="invalid-feedback">
                        @if (f['Username'].errors && f['Username'].errors['required']) {
                        <div>
                          User mail Is Required.
                        </div>
                        }
                      </div>
                      }
                      @if (CustomControler !== 0) {
                      <div class="invalid-feedback">
                        {{ CustomControler }}
                      </div>
                      }
                    </div>

                    <div class="row g-2">
                      <div class="col-12">
                        <div class="input-block">
                          <label for="password" class="form-label">
                            Password <span class="text-danger">*</span>
                          </label>

                          <div class="position-relative">
                            <!-- Input -->
                            <input class="form-control pe-5" placeholder="Enter your password"
                              [type]="show_password ? 'password' : 'text'" formControlName="password" [ngClass]="{
                            'is-invalid': f['password'].touched && f['password'].invalid}" />
                            <!-- Eye Icon (fixed inside input) -->
                            <span class="position-absolute top-50 end-0 translate-middle-y me-3"
                              style="cursor: pointer;" (click)="togglePassword()" (keydown.enter)="togglePassword()"
                              (keydown.space)="togglePassword()" tabindex="0" role="button">
                              <i [ngClass]="show_password ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                            </span>
                          </div>

                          <!-- Validation Message -->
                          @if (f['password'].touched && f['password'].invalid) {
                          <div class="invalid-feedback d-block">
                            @if (f['password'].errors?.['required']) {
                            <div>Password is required.</div>
                            }
                          </div>
                          }
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="input-block">
                          <label for="password" class="form-label">
                            Confirm Password <span class="text-danger">*</span>
                          </label>

                          <div class="position-relative">
                            <!-- Input -->
                            <input class="form-control pe-5" placeholder="Enter your password"
                              [type]="show_password ? 'password' : 'text'" formControlName="password" [ngClass]="{
                               'is-invalid': f['password'].touched && f['password'].invalid}" />
                            <!-- Eye Icon (fixed inside input) -->
                            <span class="position-absolute top-50 end-0 translate-middle-y me-3"
                              style="cursor: pointer;" (click)="togglePassword()" (keydown.enter)="togglePassword()"
                              (keydown.space)="togglePassword()" tabindex="0" role="button">
                              <i [ngClass]="show_password ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                            </span>
                          </div>

                          <!-- Validation Message -->
                          @if (f['password'].touched && f['password'].invalid) {
                          <div class="invalid-feedback d-block">
                            @if (f['password'].errors?.['required']) {
                            <div> Password does not match.</div>
                            }
                          </div>
                          }
                        </div>
                      </div>
                    </div>
                  
                    <!-- end new add -->
                    <button class="btn btn-outline-light w-100 btn-size mt-1" type="submit">
                      Sign Up
                    </button>
                    <!-- <div class="login-or">
                      <span class="or-line"></span>
                      <span class="span-or-log">Or, log in with your email</span>
                    </div>
                    <div class="social-login">
                      <a href=javascript:void(0);
                        class="d-flex align-items-center justify-content-center input-block btn google-login w-100"><span><img
                            src="assets/img/icons/google.svg" class="img-fluid" alt="Google" /></span>Sign Up with
                        Google</a>
                    </div> -->

                    <div class="text-center dont-have">
                      Already have an Account? <a [routerLink]="routes.login">Sign In</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>