@media only screen and (max-width: 600px) {
    .mobile-hide {
        display: none !important;
    }
}

.info-text {
    position: relative;
}

.prodeletsec {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: absolute;
    top: 2px;
    right: 2px;
    background: transparent;
    border: 0px;
}

.edit-icon i {
    color: #e80071;
}

/* ---copy as Nykaa */
.process-head02 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    z-index: 1;
    margin-bottom: 10px;
    gap: 3%;
}

.head02-textsec {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-left: 16px;
}

.subtital-head02 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: rgba(0, 19, 37, 0.92);
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.bundle-textWrapper {
    margin-top: 4px;
}

.head-text02 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 19, 37, 0.64);
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.head-sec02w {
    width: 30%;
}

.authan-imgset02 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

/* ---------end copy as Nykaa */
/* ------price and items */
.accordion .filter-title {
    margin-bottom: 0px;
}

.accordion {
    margin-bottom: 0px;
}

.accordion .filter-title a {
    padding: 15px 15px;
    font-size: 16px;
}

.accord-list {
    border: 1px solid #F4F4F4;
    border-radius: 5px;
}

span.count-item {
    padding-right: 10px;
    color: #555555;
}

#checkBoxes2 {
    max-height: none;
    margin: 0px;
}

/* copy nykaa 2 */
.product-sec {
    margin: 10px 0 0px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #d9d9d9;
    padding: 10px;
}

.image-sec {
    position: relative;
    cursor: pointer;
    padding-right: 10px;
    border-radius: 100%;
}

.image-sec img {
    max-width: 90px;
    max-height: 90px;
    height: 100%;
    border-radius: 8px;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-info-text {
    padding-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    font-size: 13px;
    -webkit-box-orient: vertical;
    padding-right: 20px;
}

.qut-pric-sec {
    display: flex;
    border-style: solid none none;
    border-top-width: 1px;
    flex-direction: row;
    border-left-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-color: rgba(0, 19, 37, 0.08);
}

.qut-pric-sec02 {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.quty-text {
    color: "#001325";
    font-size: 14px;
}

.pro-pric-sec {
    padding-right: 8px;
    display: flex;
    font-size: 14px;
    flex-direction: row;
}

.pro-pric-off {
    text-decoration: line-through;
    color: #7692ad;
    margin-right: 5px;
    font-size: 14px;
}

.product-qut {
    border: none;
    margin-right: 10px;
}

.justy {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    font-size: 14px;
}

.pric-offsec {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgb(6, 135, 67);
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.quanty {
    font-size: 13px;
    color: "#001325";
}

.paytext1 {
    display: flex;
    align-items: center;
}

.paytext1 i {
    margin-left: 6px;
}

.countoff {
    text-decoration: line-through;
    padding-right: 4px;
}

.last-cout {
    font-size: 16px;
    font-weight: 400;
}

.last-amout {
    font-size: 17px;
    font-weight: 500;
}

.saveamo {
    padding: 6px 8px;
    box-sizing: border-box;
    background-color: rgba(6, 135, 67, 0.1);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.9px;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 0px;
}

.save-amtex {
    width: max-content;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgb(6, 135, 67);
}

.reward-point {
    border-radius: 0px;
    border-top: 1px dashed rgba(0, 19, 37, 0.16);
    border-bottom: 1px dashed rgba(0, 19, 37, 0.16);
    border-left: none;
    border-right: none;
    display: flex;
    padding: 8px;
}

.rewardpoint1 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-left: 16px;
}

.subtital-amount {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgba(0, 19, 37, 0.92);
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.subtital-amount1 {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgba(0, 19, 37, 0.64);
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.authentic-text {
    padding: 12px 17px;
    background: rgb(249, 250, 250);
    border-radius: 8px;
    margin-top: 12px;
    display: flex;
}

.first-sec {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgb(0, 19, 37);
}

.first-sectext {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgba(0, 19, 37, 0.92);
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.authan-imgset {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 12px;
}

/* ----------------address section------------------ */
.address-box:hover {
    background: rgb(249, 250, 250);
    border-color: rgba(0, 19, 37, 0.16);
}

.address-box {
    display: flex;
    height: 200px;
    position: relative;
    flex-direction: column;
    padding: 24px;
    margin-bottom: 14px;
    flex-basis: 50%;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border-color: rgba(0, 19, 37, 0.16);
}

.user-name-info {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: rgba(0, 19, 37, 0.92);
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.defu-pad {
    padding-left: 8px;
}

.defau-contr {
    padding: 4px 8px;
    border-radius: 36px;
    box-sizing: border-box;
    background-color: rgba(56, 141, 255, 0.1);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.9px;
}

.defalt-taxe {
    width: max-content;
    color: rgb(56, 141, 255);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.9px;
}

.address-sec {
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 75px;
}

.address-1 {
    font-size: 14px;
    line-height: 20px;
    color: #001325a3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.address-2 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #001325a3;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.btn-sec {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    position: absolute;
    bottom: 20px;
}

.edit-btn-pd {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
}

/* ----------------end address section------------------ */
/* ===============add new address----------------------- */
.new_address:hover {
    background: rgba(232, 0, 113, 0.08);
    border-color: rgb(232, 0, 113);
}

.new_address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed rgba(0, 19, 37, 0.16);
    height: 94.5%;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 8px;
}

.add-plus {
    display: flex;
    color: #e80071;
    font-size: 25px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.add-text-sec {
    margin-top: 15px;
}

.add-newtext {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #e80071;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

/* --------------signin-section --------------------*/
.card-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgba(237, 65, 148, 0.04);
    border-color: rgba(237, 65, 148, 0.08);
}
.imag-box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.login-text-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 12px 16px 20px;
}
.sign-text1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(0, 19, 37);
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}
.sign-text2 {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(0, 19, 37);
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

/* button css */
.view-all-btn {
    margin-top: 5px;
}

.view-all-btn .btn {
    font-size: 14px;
    width: 100%;
}
/* end button css */