/*-----------------
    5. Buttons
-----------------------*/

.btn {
    position: $__relative;
    text-transform: initial;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    &:hover {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
}
.btn-view {
    font-weight: $__medium;
    font-size: $__font__size__16;
    color: $__goose-gray;
    border: 2px solid $__goose-gray;
    background-color: $__white;
    box-shadow: inset 0 0 0 0 $__white;
    border-radius: 5px;
    line-height: 0;
    @include margin-padding(0, 10px 17px);
    &:hover {
        background-color: $__primarycolor;
        border: 2px solid $__warningcolor;
        color: $__white;
        box-shadow: inset 0 50px 0 0 $__warningcolor;
    }
    @include respond-below(custom991){
        @include margin-padding(0, 8px 12px);
		font-size:$__font__size__14;
	}
}

.btn-white {
    background-color: $__white;
    border-color: $__light__grayish;
    color: $__primarycolor;
    box-shadow: inset 0 0 0 0 $__white;
    &:hover {
        background-color: $__white;
        border-color: $__white;
        color: $__white;
        box-shadow: inset 0 50px 0 0 $__primarycolor;
    }
}
.btn-white-outline {
    background-color: $__white;
    border-color: $__light__grayish;
    color: $__grayish__blue;
    &:hover {
        background-color: $__white;
        border-color: $__light__grayish;
        color: $__grayish__blue;
    }
}
.btn-primary {
    background-color: $__primarycolor;
    border: 1px solid $__primarycolor;
    box-shadow: inset 0 0 0 0 $__white;
    &:hover {
        background-color: $__white;
        border-color: $__primarycolor;
        color: $__primarycolor !important;
        box-shadow: inset 0 50px 0 0 $__white;
    }
}
.btn-subscribe {
    background-color: $__primarycolor;
    border: 1px solid $__primarycolor;
    box-shadow: inset 0 0 0 0 $__white;
    &:hover {
        i {
            color: $__primarycolor !important;
            -webkit-transition: 0.5s;
            -ms-transition: 0.5s;
            transition: 0.5s;
        }
        background-color: $__white;
        border-color: $__primarycolor;
        color: $__primarycolor;
        box-shadow: inset 0 50px 0 0 $__white;
    }
}
.submit-review {
    font-weight: 500;
    font-size: $__font__size__13;
    @include margin-padding(null, 5px 9px);
}
.btn-size {
    font-weight: $__semibold;
    font-size: $__font__size__16;
    @include margin-padding(null, 5px);
}
.btn-outline-light {
    color: $__white;
    background-color: $__primarycolor;
    border: 1px solid $__primarycolor;
    box-shadow: inset 0 0 0 0 $__white;
    &:hover {
        background-color: $__white;
        border-color: $__secondarycolor;
        color: $__secondarycolor;
        box-shadow: inset 0 50px 0 0 $__white;
    }
}
.btn-gray {
    background-color: $__white__smoke;
    border: 1px solid $__white__smoke;
    box-shadow: inset 0 0 0 0 $__white;
    &:hover {
        background-color: $__white;
        border-color: $__white__smoke;
        color: $__gray15;
        box-shadow: inset 0 50px 0 0 $__white;
    }
}
.btn-gray-outline {
    background-color: $__white;
    border: 1px solid $__white__smoke;
    box-shadow: inset 0 0 0 0 $__white;
    &:hover {
        background-color: $__white__smoke;
        border-color: $__white;
        color: $__gray15;
        box-shadow: inset 0 50px 0 0 $__white;
    }
}
.btn-outline-primary {
    color: $__primarycolor;
    border-color: $__primarycolor;
    &:hover {
        background-color: $__primarycolor;
        border-color: $__primarycolor;
    }
}
.btn-check:focus+.btn-primary, 
.btn-primary:focus {
    box-shadow: $__none !important;
}
.btn{
    &:focus{
        box-shadow: $__none !important; 
    }
    &.btn-greys{
        background: $__white__smoke;
        color: $__secondarycolor;
        font-size: $__font__size__13;
        @include margin-padding(null, 8px 16px);
        font-weight: $__semibold;
    }
}
.cancel {
    background-color: $__white;
    border: 1px solid $__violet__dark;
    box-shadow: inset 0 0 0 0 $__violet__dark;
    color: $__violet__dark;
    &:hover {
        background-color: $__white;
        border-color: $__violet__dark;
        color: $__violet__dark;
        box-shadow: inset 0 50px 0 0 $__white;
    }
}
.contact-btn {
    background-color: $__goose-gray;
    border: 1px solid $__goose-gray;                
    box-shadow: inset 0 0 0 $__white;
    color: $__white;                
    border-radius: 5px;
    font-weight: 500;
    font-size: $__font__size__16;
    @include margin-padding(null, 6px 11px);
    text-align: center;
    @extend %animation-effect;
    &:hover {
        background-color: $__white;
        border: 1px solid $__goose-gray;
        box-shadow: inset 0 70px 0 0 $__white;
        color: $__goose-gray;
        @extend %animation-effect;
    }
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color:$__white;
    background-color: $__gray__dark;
    border-color: $__secondarycolor;
}
.btn-secondary {
    border: 1px solid $__gray__dark;
    background: $__gray__dark;
    color: $__white;
    box-shadow: inset 0 0 0 $__white;
    &:hover {
        background-color: $__white;
        border: 1px solid $__gray;
        box-shadow: inset 0 70px 0 0 $__white;
        color: $__gray;
    }
}
.fa-facebook {
    background: #3080F8;
    color: $__white;
}  
.fa-twitter {
    background: #35B6FF;
    color: $__white;
} 
.fa-instagram {
    background: #FF2D20;
    color: $__white;
}
.fa-behance {
    background: #0066FF;
    color: $__white;
}
.fa-linkedin {
    background: #0066FF;
    color: $__white;
}
.btn-primary {
    &.btn {
        &:first-child {
            &:active {
                background: $__primarycolor;
                border-color: $__primarycolor;
            }
        }
    }
}
// -----------------add new btn----------------------//
.edit-btn {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 12px;
    padding: 8px 21px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1px;
    border-color: rgba(111, 121, 129, 0.36);
    background-color: rgb(255, 255, 255);
    color: rgba(0, 19, 37, 0.64);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.deliver-btn {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 8px 12px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1px;
    border-color: rgb(232, 0, 113);
    background-color: rgb(232, 0, 113);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    gap: 3px;
}