/* body color set */
/* :host {
    display: block; 
    background-color: #f3f3f3;
  } */
  /* body color set */
  
.accordion .filter-title a {
    font-size: 15px;
    font-weight: 100;
}

.listing-item:hover {
    transition: none;
}

.listing-item .listing-img .fav-item .fav-icon {
    width: 30px;
    height: 30px;
    font-size: 19px;
}
.listing-item .listing-img .featured-text {
    padding: 1px 4px;
    position: absolute;
    bottom: 5px;
    left: 0px;
    font-size: 13px;
}
.justy-containt {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.reset-filter {
    background: white;
    border: none;
    display: block;
    text-align: center;
    font-size: 17px;
    color: #292929;/*#e80071*/
}
.reset-filter:hover{
    color:red;
}

@media only screen and (max-width: 767px) {
    .mt-4 {
        margin-top: 0rem !important;
    }
    .section {
        position: relative;
         padding: 0px 0; 
    }
    .breadcrumb-bar .breadcrumb-title {
        font-size: 18px;
        text-align: center;
        margin: 10px 0 5px;
    }
    h2.breadcrumb-title span {
        color: #e80071;
    }
    .button-group {
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        white-space: nowrap;
        display: flex;
        background-color: #fff;
        padding: 0.625rem 0.5rem;
        -webkit-scrollbar-width: none;
        -moz-scrollbar-width: none;
        -ms-scrollbar-width: none;
        scrollbar-width: none;
      }
    
      .button-option {
        position: relative;
      }
    
      .button-option input[type="checkbox"] {
        display: none;
      }
    
      .button-label {
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        width: fit-content;
        height: 38px;
        padding: 0 0.5rem;
        border-radius: 22px;
        border: 1px solid #29001325;
        color: rgba(0, 19, 37, 0.64);
        background: #FFFFFF;
        margin-right: 0.5rem;
        cursor: pointer;
        position: relative;
      }
    
      .button-label img {
        height: 24px;
        margin-right: 0.25rem;
      }
      .button-option input:checked + .button-label {
        border-color: #e91e63;
        background-color: #fff0f5;
      }
}
@media only screen and (max-width: 767px) {
    .listing-item {
        border: 1px solid #dddddd;
        border-right: none;
        border-radius: 0px;
        padding: 5px;
        margin: 0px;
    }
    .col-sm-4 {
        padding: 0px;
    }
    .col-6 {
        padding: 0px;
    }
}
/* -----------------------scroll text -----------------------------*/
.fav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  max-width: calc(100% - 40px);
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 5s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

   .listing-concern {
    line-clamp: 1;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e9e9e9;
    text-overflow: ellipsis;
}



.price-slider {
  width: 100%;
  accent-color: #ff4081; /* pink tone like Nykaa */
  cursor: pointer;
}

.price-value {
  margin-top: 10px;
  font-weight: 500;
}