.modal-header {
    padding: 10px !important;
}
.head-text span {
    cursor: pointer;
}
@media (max-width: 768px) {
  .modal-dialog-slide {
    max-width: 100%;
  }
  .modal-dialog {
    margin: 0px;
}
.modal-content {
    border-radius: 0px;
    border: none;
}
}
.custom-image-wrapper {
     text-align: center;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    background: #fff3f9;
    position: relative;
}
.img-set {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  overflow: hidden;
  display: inline-block;
  /* position: relative; */
}

.img-set img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.profile-image-edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: white;
    padding: 4px 8px;
    border-radius: 25px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
}
.gender-sec{
    text-align: center;
    margin: 10px 0px;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    box-shadow: none !important;
    color: white !important;
}
.btn.btn-outline-dark input {
    outline: none;
}
.custom-position {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 14px;
  transform: translateY(-50%);
  margin-right: 1rem;
  color: #198754;
}