.main-wrapper {
    width: 101%;
}
.services {
    padding: 40px 0 30px;
}
.services .services-group .services-icon .icon-img {
    overflow: inherit;
}
.facts-number .count-group .count-img {
    padding: 10px;
    border-radius: 45px;
    margin: 0 10px 0 15px;
}
.facts-number .count-group {
    padding: 20px 0px;
}
.count-img img {
    height: 60px;
}
.count-content p {
    font-size: 13px;
}
.section-heading p {
    max-width: 70%;
    margin: auto;
    font-size: 18px;
}
.testimonials-section.about-testimonial .review-box ~ p {
    height: 90px;
    margin-bottom: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}
.faq-section .faq-card {
    margin: 0 0 6px;
    padding: 20px 20px;
    border: none;box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 5px;
}
.faq-section {
    background: #ffffff;
}
.faq-section .faq-card p {
    margin: 10px 0 0;
    font-size: 15px;
}
@media only screen and (min-width: 767px) {
    .services-content h6{
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical; 
}
.services-content p {
    margin: 0px;
    font-size: 15px;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}
  }
  .listing-page .breadcrumb-bar {
    padding-bottom: none;
}
