    .slide-images {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media only screen and (max-width: 767px) {
        .slide-images {
            height: 200px;
        }
    }

    @media (max-width: 479px) {
        .slide-images {
            height: 160px;
        }
    }



    
   .listing-concern {
    line-clamp: 1;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e9e9e9;
    text-overflow: ellipsis;
}



.price-slider {
  width: 100%;
  accent-color: #ff4081; /* pink tone like Nykaa */
  cursor: pointer;
}

.price-value {
  margin-top: 10px;
  font-weight: 500;
}