.brands-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.brand-card {
  text-align: center;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
}

.brand-card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.brand-card img {
  width: 100px;
  height: auto;
  margin-bottom: 5px;
}

.section-title {
  font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    color: #303351;
}

.section-title .count {
  font-size: 22px;
  font-weight: 600;
  font-family: sans-serif;
  color: #e91e63;
  
}
@media (max-width: 575.98px) {
  .section-title {
  font-size: 24px;
    font-weight: 700;
}

.section-title .count {
  font-size: 18px;
  
}
.brands-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  gap: 10px;
  padding: 10px;
}
}