.blog-img a img {
    max-width: 144px;
    max-height: 115px;
}
.listing-details-group p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
        font-size: 14px;
}
.listing-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.list-rating span {
    font-size: 13px;
}