$__primarycolor: #ff3a7f;
$__hovercolor: #ff5490;
$__whitecolor: #ffffff;

.header-two-top {
    padding: 5px;
    border-bottom: 0.5px solid gray;
}
.header-address{
    display: flex;
    align-items: center;
}
.header-address li span {
    margin-right: 7px;
}
.header-address li {
    font-size: 13px;
}
.header-top-social-links {
    margin-left: 15px;
    border-left: 1px solid gray;
    padding-left: 5px;
}
.navbar-header {
    display: flex;
}
@media only screen and (min-width: 992px) {
    .header .main-menu-wrapper{
        margin: 0 15px;
        display: flex;
        justify-content: space-between;
    }

}
@media (max-width: 992px) {
.header-two-top {
    padding: 0px;
}
.navsection{
    border-top: none;
}
.user-name{
    display: none;
}
}

@media (max-width: 1350px) {
.header .main-menu-wrapper .main-nav:last-child {
    margin-right: 0;
    font-size: 12px;
    white-space: pre;
}
}
@media (max-width: 1080px) {
.header .main-menu-wrapper .main-nav:last-child {
    margin-right: 0;
    font-size: 10px;
}
}
@media (max-width: 567px) {
.smallest-hide {
    display: none;
}

    .header {
        height: 60px;
    }
a.nav-link.header-user {
    padding: 0px;
}
.header .header-navbar-rht {
    width: 100%;
    place-content: flex-end;
    flex-flow: nowrap;
}
}


/* ----------------end header one--------------------------------- */

    a.nav-link.header-user i {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    color: #050505;
    font-size: 19px;
    background: #e4e4e4;
}
/*-------------------- end header two ----------------------------*/


