.brands-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.brand-card {
  text-align: center;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
}

.brand-card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.brand-card img {
  width: 100px;
  height: auto;
  margin-bottom: 5px;
}

.section-title {
  font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    color: #303351;
}

.section-title .count {
  font-size: 22px;
  font-weight: 600;
  font-family: sans-serif;
  color: #e91e63;
  
}
@media (max-width: 575.98px) {
  .section-title {
  font-size: 24px;
    font-weight: 700;
}

.section-title .count {
  font-size: 18px;
  
}
.brands-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  gap: 10px;
  padding: 10px;
}
/* register proccess */
}
.step-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 16px;
}

.step-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.step-icon {
  width: 80px;
  height: 80px;
}
.slide-images {
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* why us section */
.whyus-alt-section {
  background: linear-gradient(135deg, #a770ef, #cf8bf3, #fdb99b);
}

.glass-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 2rem;
  color: #fff;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}

.glass-card:hover {
  transform: translateY(-8px);
}

.icon-circle {
 width: 70px;
 height: 70px;
  padding: 5px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 28px;
  margin-bottom: 1rem;
  color: #fff;
}

.bg-gradient-green {
  background: linear-gradient(45deg, #28a745, #218838);
}
.bg-gradient-yellow {
  background: linear-gradient(45deg, #ffc107, #ffb300);
}
.bg-gradient-pink {
  background: linear-gradient(45deg, #f06292, #ec407a);
}
.bg-gradient-purple {
  background: linear-gradient(45deg, #8e24aa, #7b1fa2);
}
