.form-sec{
    margin: auto;
}
.login-wrapper .loginbox .login-auth {
    background: #ffffff;
    box-shadow: #2e84da33 0px 8px 24px;
}

.visual-section {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.visual-section img {
    max-height: 500px;
    min-width: 425px;
}
@media screen and (max-width: 767.98px) {
   .hide-for-mobile{
    display: none !important;
 }

.container{
    padding: 0px;
}

.login-wrapper .loginbox .login-auth {
    margin-top: 30px ;
    margin-bottom: 20px;
}
.input-block .form-control {
        margin: 0px;
        padding: 10px;
    }
}

.input-block {
  position: relative;
}

.input-block .btn-verify {
    top: 48px;
    padding: 6px 8px;
    margin-right: 5px;
    font-weight: 500;
    font-size: 13px;
    background-color: #e80071;
    color: #fff;
    border: none;
    border-radius: 5px;
}
