.edit-profile-container {
  position: relative;
  height: 100vh; /* full screen */
  display: flex;
  flex-direction: column;
}

.form-scroll {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 80px;
}
h6.modal-title {
    padding-left: 12px;
}
.form-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 16px;
  background: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}
.form-label {
    margin-bottom: 5px;
    font-size: 13px;
}
.form-control-sm {
    border-radius: 5px;
    height: 40px;
}
.password-class{
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(201, 201, 201);
}