$__primarycolor:#e80071;
$__bgcolor:white;
@media (max-width: 767.98px) {
    .only-for-large-wirth{
        display: none !important;
    }
}
.listing-item .listing-content .listing-button .btn-order span {
    padding-right: 6px;
}

.listing-item:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.5s;
}
.breadcrumb-bar:after {
    display: none;
}
.breadcrumb-bar {
    padding: 0px;
}
.description-sec {
    border: 1px solid #f4f4f4;
    border-radius: 8px;
    padding: 10px;
}
/*  ---------//  only for the banner------------------------- */
section.section.product-detail {
    background:$__bgcolor !important;
}


.product-detail {

    .review-sec {
        background: $__bgcolor;
        padding: 15px 0px;
        margin: 0px;
        box-shadow: none;
        border-radius: 0px;
    }

    .pro-info {
        justify-self: right;
    }

    .pro-info .fav-icon {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 0.5px solid #ededed;
        width: 30px;
        height: 30px;
        padding: 15px;
    }

    .detail-product {
        background: $__bgcolor;
        border: 0.5px solid #d9d9d9;
        box-shadow: none;
        border-radius: 5px;
        overflow: hidden;
        padding: 15px 5px;
    }

    h6.share-product {
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
    }

    .fa-share:before {
        content: "\f064";
        margin-right: 5px;
        color: gray;
        font-size: 14px;
    }
    .reviewbox-list-rating {
        justify-items: flex-start;
        margin: 10px 0px;
    }

    span.rating {
        padding-left: 7px;
        color: #535353;
    }

    .listing-price {
        display: flex;
        align-items: baseline;
    }

    .listing-price h5 {
        font-size: 25px;
        color: black;
        padding-right: 7px;
    }

    .listing-price p {
        font-size: 18px;
        font-weight: 500;
        text-decoration: line-through;
        margin-right: 7px;
    }

    .listing-price span {
        font-size: 16px;
        color: green;
    }

    .details-car-grid {
        .listing-price h5 {
            font-size: 14px;
            color: black;
            padding-right: 7px;
        }

        .listing-price p {
            font-size: 12px;
            font-weight: 500;
            text-decoration: line-through;
            margin-right: 7px;
        }

        .listing-price span {
            font-size: 10px;
            color: green;
        }

        .listing-item .listing-content .listing-features {
            position: relative;
            border-bottom: none;
            margin: 0px;
            padding: 0px;
        }

        .listing-item .listing-content .listing-location-details {
            background: $__bgcolor;
            padding: 10px 0px;
            margin: 0px;
        }

 
    }

    .select-size-sec {
        margin-top: 25px;
    }

    .fuel-list ul li .input-selection label {
        margin-top: 8px;
        border-radius: 20px;
        padding: 4px 10px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
    }

    .form-wrap .form-control {
        padding-right: 80px;
        font-size: 13px;
    }

    .sec-head {
        font-size: 15px;
        margin-bottom: 7px;
    }

    .form-wrap .form-icon {
        cursor: pointer;
        font-size: 14px;
        color: $__primarycolor;
    }

    .highlight-sec {
        margin-top: 25px;
    }

    .highlight-head {
        font-weight: 500;
        color: #878787;
        width: 110px;
        padding-right: 10px;
        float: left;
    }

    .highlight-box {
        font-size: 14px;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-left: 110px;
    }

    .highlight-box .highlight-info {
        color: #212121;
        padding: 0 0 8px 16px;
        position: relative;
    }

    .highlight-box .highlight-info:after {
        content: "";
        height: 6px;
        width: 6px;
        position: absolute;
        top: 6px;
        left: 0;
        border-radius: 50%;
        background: #c2c2c2;
    }

    .servic-sec .servic-head {
        color: #878787;
        width: 65px;
        padding-right: 10px;
        float: left;
        font-weight: 500;
    }

    .servic-sec {
        color: #212121;
        position: relative;
        margin-top: 10px;
    }

    li.servic-box {
        font-size: 14px;
    }

    /* -----------------------seller--------------------- */
    p.store-info {
        font-size: 15px;
        font-weight: 500;
        color: #2874f0;
    }

    p.store-info span {
        font-size: 12px;
        padding-left: 5px;
        color: #656565;
    }

    /* --------------------------- specification*/
    .review-sec.extra-service.spec {
        border: 1px solid #dddbdb;
        border-radius: 6px;
        padding: 20px;
        margin-bottom: 25px;
    }

    .lisiting-service {
        font-size: 14px;
    }

    .spfcone {
        padding-right: 8px;
    }

    .firstext {
        width: 30%;
    }

    .secondtext {
        width: 70%;
    }

    .spfctwo {
        line-height: 1.4;
        word-break: break-word;
        color: #212121;
    }

    .spfcspc {
        padding-bottom: 11px;
        margin: 0px;
    }

    /* ---------------------------------------------faq question &answer----------------------------- */
    .faq-card {
        margin: 0 0 10px;
        padding: 10px 40px 10px 20px;
        border: 1px solid #DBDBDB;
        border-radius: 5px;
    }

    /* ----------------------------------------------- review --------------------------------------- */

    .review-sec .review-card .review-header-group .review-widget-header .review-widget-img img {
        width: 45px;
        height: 45px;
        border-radius: 25px;
    }

    .listing-review.review-sec .review-card .review-header-group .review-widget-header .review-design h6 {
        font-size: 15px;
    }

    .listing-review.review-sec .review-card .review-header-group .review-widget-header .review-design p {
        font-weight: normal;
        margin-top: 0px;
        font-size: 12px;
    }

    .listing-review.review-sec .review-card .review-header-group {
        margin-bottom: 3px;
    }

    .review-wraps p {
        font-size: 13px;
    }

    .listing-review.review-sec .review-card .review-reply .btn {
        background: $__bgcolor;
        border: none;
        padding: 0px;
        box-shadow: inset 0 0 0 0 $__bgcolor;
        color: #000000;
    }

    .progress-info h6 {
        font-size: 14px;
        font-weight: normal;
        margin-right: 20px;
        min-width: 135px;
    }

    .rating-wraps h6 span {
        font-size: 13px;
        color: #535353;
    }
}
.count-img{
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.overlay {
    border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
/*---------------------------- buy  button css ---------------------------------*/
.pro-info .pro-badge {
    margin-bottom: 10px;
    z-index: 1499;
}

.show-main-img {
    margin-top: -53px;
}

.button-setup {
    margin: 12px 0px;

}

.button-icon {
    margin-right: 4px;
    height: 16px;
    width: 16px;
    color: #212121;
}

.btn-setup.buy-btn {
    background: $__primarycolor;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: $__bgcolor;
}

.btn-width {
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
}

.btn-setup {
    display: inline-block;
    border-radius: 2px;
    color: #212121;
    padding: 10px 2px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2sease;
    vertical-align: super;
    background: $__bgcolor;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border: 1px solid #e0e0e0;
}

/* --------------------------------show extra product------------------------------- */
.listing-item .listing-content .listing-features .listing-title a {
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

/*-------------------- only for large screen -------------------------------*/
.tab-product {
    display: flex;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
.tab-nav-product {
    width: 115px;
    overflow: auto;
}
@media only screen and (min-width: 1024.5px) {
    .tab-nav-product {
        max-height: 430px;
    }
  }
@media only screen and (max-width: 1024px) {
    .tab-nav-product {
        max-height: 325px;
        width: 60px;
        overflow: auto;
    }
  }


/* --------------------scrollbar------------------ */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* --------------------scrollbar------------------ */

.tab-side-nav img {
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    margin: 5px 0px;
}

.tab-side-nav img:hover {
    border: 1px solid pink;
    border-radius: 5px;
}

.tab-view-product {
    width: 100%;
    padding: 10px;
}

.tab-view-product img {
    width: 100%;
    margin-top: -50px;
}
/*------------------------specification for mobile ------------------------------*/
.product-more-info{
    .faq-card {
        margin: 0 0 10px;
        padding: 10px 40px 10px 20px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
    }
    div#mobilproductinfo {
        margin-top: 15px;
        border-top: 1px solid #e1e1e1;
    }
    .product-details-head {
        margin: 15px 0px;
    }
    h6.moreinfo-heading {
        padding: 6px 0px;
        font-size: 15px;
        color: #282828;
    }
    a.for-info-promo {
        font-size: 15px;
    }
    button#home-tab {
        font-size: 15px;
        font-weight: 500;
        color: #323232;
        border: none;
    }
    button#tab-btn {
        font-size: 15px;
        font-weight: 500;
        border: none;
        color: #323232;
    }
    button#profile-tab {
        font-size: 15px;
        font-weight: 500;
        border: none;
        color: #323232;
    }
    button#description-tab {
        font-size: 15px;
        font-weight: 500;
        border: none;
        color: #323232;
    }
    button#contact-tab {
        font-size: 15px;
        font-weight: 500;
        border: none;
        color: #323232;
    }
    ul#myTabs {
        justify-content: space-around;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: $__primarycolor !important;
        border-bottom: 2px solid $__primarycolor !important;
    }
}
.all-review {
    margin: 0 15px;
}

.all-review-btn {
    font-size: 14px;
    color: #2874f0;
    cursor: pointer;
    font-weight: 500;
}
// ---------------scroll tabs--------------------//
.scroll-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .scroll-btn {
    background: lightgray;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .scroll-btn.left {
    border-radius: 5px 0 0 5px;
  }
  
  .scroll-btn.right {
    border-radius: 0 5px 5px 0;
  }
  
  .tab-width {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .tab-width::-webkit-scrollbar {
    height: 3px;
  }
  
  .tab-width::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 3px;
  }
  
  .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }
 // ---------------end scroll tabs--------------------// 
 @media only screen and (max-width: 1024px) {
    .listing-item {
        border-radius: 5px;
        border: 1px solid #f5f5f5;

        padding: 10px;
    }
 }
     .product-img-intrust {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 767px) {
    .product-img-intrust {
    height: 200px;
}
}

@media (max-width: 479px) {
.product-img-intrust {
    height: 160px;
}
}








/* Common zoom effect */
.zoom-img {
  transition: transform 0.4s ease-in-out;
  cursor: zoom-in; /* cursor style */
}

.zoom-img:hover {
  transform: scale(1.3); /* Zoom 1.3x */
}








.listing-concern {
    line-clamp: 1;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e9e9e9;
    text-overflow: ellipsis;
}