.review-card {
  margin: 10px 0;
  background: #fff;
  overflow: auto;
  font-family: 'Segoe UI', sans-serif;
}
.product-name{
  margin-bottom: 5;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-sec2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 5px;
}
.star-rating {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      font-size: 2rem;
    }

    .star-rating input[type="radio"] {
      display: none;
    }

    .star-rating label {
      color: #ccc;
      cursor: pointer;
      transition: color 0.2s;
      margin: 0 5px;
    }

    .star-rating input[type="radio"]:checked ~ label,
    .star-rating label:hover,
    .star-rating label:hover ~ label {
      color: #ff4081;
    }

    .rating-box {
      border-bottom: 1px solid #ddd;
      padding: 10px;
      max-width: 400px;
      margin: auto;
    }

    .rating-title {
      font-weight: 600;
      font-size: 16px;
      text-align: center;
    }
    .write-review h6 {
    font-size: 15px;
    margin-bottom: 4px;
    padding-bottom: 5px;
    border-bottom: 1px dot gray;
}
.add-img {
    font-weight: 600 !important;
    font-size: 16px;
    padding-bottom: 10px;
}
.upload-box {
  width: 75px;
  height: 75px;
  border: 2px dashed #e83e8c;
  cursor: pointer;
  border-radius: 0.5rem;
  position: relative;
  transition: 0.3s;

  &:hover {
    background-color: #fce4ec;
  }
}

.uploaded-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 0.5rem;
}
